<div id="mesaj-kapat" class="modal fade">
  
  <!-- acılıs mesajini kapatmak icin mesaj-kapat acmak icin mesaj-ac yazınız-->
  
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="section-title mt-5 mb-2">
                    <h2 class="text-gradient-02">Başlık</h2>
                </div>
                <p class="mb-5">Test</p>
                <button type="button" class="m-btn m-btn-white" data-dismiss="modal">Mesaj</button>
            </div>
        </div>
    </div>
</div>

<!-- Script -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
            //sayfa açıldığında otomatik açılması için
    		$("#mesaj-ac").modal('show');
    	});
</script>

<style>

.modal-content{
  color: #fff;
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;    
    background: linear-gradient(rgb(45,45,76),rgb(33,33,61));
    box-shadow: #0000000069;
    border:0 none;
    border-radius:15px;

}
</style>