{% include 'header.twig' %}


<div class="bosluk">
<div class="container text-center">
<h1 style="margin: 0 0 20px;font-size: 32px;font-weight: 500;color: #fff;">Tüm Blog Yazılarımız</h1>
</div>


<br><br>
<div class="container">
  <div class="row">  
<div class="col-lg-6">
          <div class="">
              <div class="kutu">
                  <center><h1 class="text-color">SMM Panel Nedir?</h1></i>
                  <h6 class="text-color">SMM, açılışıyla Social Media Marketing yani Sosyal Medya Pazarlama veya Pazarlamacılığı olarak bilinmekte.</h6><h6 class="m-btn m-btn-dark" href="#">Devamını Oku</h6></center>
              </div>
          </div>
</div>

<div class="col-lg-6">
          <div class="">
              <div class="kutu">
                  <center><h1 class="text-color">SMM Panel Nedir?</h1></i>
                  <h6 class="text-color">SMM, açılışıyla Social Media Marketing yani Sosyal Medya Pazarlama veya Pazarlamacılığı olarak bilinmekte.</h6><h6 class="m-btn m-btn-dark" href="#">Devamını Oku</h6></center>
              </div>
          </div>
</div>




{% include 'footer.twig' %}