</div></div>
<meta name="yandex-verification" content="1858b0aeea2b25da" />{% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  {{ footerCode }}

<style>
    .bosluk {
    padding-top: 100px;
}
</style>


  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>
  
  </style>
  <!--   Core JS Files   -->
  <script src="../public/dark/assets/js/core/jquery.min.js"></script>
  <script src="../public/dark/assets/js/core/popper.min.js"></script>
  <script src="../public/dark/assets/js/core/bootstrap.min.js"></script>
  <script src="../public/dark/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../public/dark/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../public/dark/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../public/dark/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../public/dark/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in public/dark/assets/public/dark/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>

</body>
</html>
