 <br>
 <br> 
<script type="text/javascript" src="https://cdn.mypanel.link/global/66jsbg7w4u6g7toz.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/8n665fzhazcg73tz.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/mwylzt014iit3gys.js">
      </script>
  <script type="text/javascript" src="https://cdn.mypanel.link/global/wnzsoolloslhfumj.js">
      </script>
  <script type="text/javascript" >
     window.modules.layouts = {"auth":1};   </script>


  {% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  {{ footerCode }}

  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>

</body>
</html>