{% include 'header.twig' %}

<div class="inner-page">
      <section>
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="card order-dashboard for-ticket">
              <a href="#" class="card-body">
                <span class="icon rounded-circle">
                  <i class="fab fa-whatsapp"></i>
                </span>
                <span class="content-box">
                  <span class="title">Whatsapp</span>
                  <span class="numbers">{{ settings['whatsapp'] }}</span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg">
            <div class="card order-dashboard for-skype">
              <a href="/tickets" class="card-body">
                <span class="icon rounded-circle">
                  <i class="fa fa-comments"></i>
                </span>
                <span class="content-box">
                  <span class="title">Destek Talebi Oluştur</span>
                  <span class="numbers">Destek Talebi</span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-lg">
            <div class="card order-dashboard for-email">
              <a href="#" class="card-body">
                <span class="icon rounded-circle">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="content-box">
                  <span class="title">Email</span>
                  <span class="numbers">Email Gönder</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="card bg-white">
          <div class="card-header">
            <div class="card-title">
              <i class="fa fa-comments"></i> Sıkça Sorulan Sorular
            </div>
          </div>
          <div class="card-body ">
            <div class="accordion faq-panels">
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq1" aria-expanded="true">Otomatik Beğeni Sınırsız Kategorisi Nedir Nasıl Kullanılır? <i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq1" class="collapse">
                    <div class="card-body">
                      <p class="card-text"><center><strong>Otomatik Kredili Beğeni;</strong> panel kullanımına gerek olmadan tanımlama yapılan hesaba otomatik beğeni gönderimidir.<br> Hem beğeni hem izlenme için aynı kurallar geçerlidir.
<br>Tek bir sipariş vererek yukarıda ki menüde Otomatik İşlemler menüsü aktif olacaktır otomatik olarak.<br> Girdiğiniz toplam posta göre ve isteğe bağlı tarihe göre gönderim yapılır.<br> 
<br> Hem beğeni hemde izlenme servislerini aktif ederseniz. 
Fotoğraf attığınızda sadece beğeni, video attığınızda hem beğeni hemde izlenme gönderir. <br>Otomatik servislerin avantajı süre sınırı olmamasıdır.
<br>
<b>Otomatik beğeni tanımlaması yapabilmek için; </b> Otomatik Beğeni yada İzlenme SINIRSIZ kategorisini seçiniz;
<img src="https://i.hizliresim.com/EP2pPA.png" class="img-
 responsive" style="display: inline-block; width: 680px; max-width: 100%; " alt="KM-1">
<br>
<li>Kullanıcı adı bölümüne başında @ olmadan hesabınızın kullanıcı adını gireceksiniz.</li>
<br>
<br>
<li>"Paylaşacağınız kaç gönderiye gitsin?" Kutusundan, gelecekte paylaşacağınız gönderilerin kaç tanesine bu işlemin olmasını istiyorsanız onu yazın.</li>
<br>
<br>
<li>"Miktar" Kutularına, kaç beğeni &amp; izlenme gönderilmesini istiyorsanız onu yazın. Örneğin: Min 1000 ve maksimum 2000 girerseniz sistem otomatik olarak bu rakamlar arasında bir sayı belirler ve ona göre gönderim yapar ve rastgele belirlediği rakam üzerinden ücret keser. Eğer rastgele sayı belirlemesini istemiyorsanız, sürekli aynı sayıda beğeni gönderilmesini istiyorsanız minimum ve maksimum miktara aynı sayıyı girmelisiniz.</li>
<br>
<br>
<li>"Gecikme" Kutusunda, postu attıktan kaç dakika sonra bu sistemin aktif olmasını istiyorsanız onu belirtmelisiniz. "Gecikme Olmasın" bölümünü seçerseniz postu atar atmaz servisi başlatır. ( Sistem Kontrol Süresi Hariç )</li>
<br>
<br>
<li>"Bitiş Tarihi" Burası isteğe bağlıdır eğer kaç gönderiye gitsin bölümüne 50 yazıp tarihte 1 ay sonra bitsin derseniz 1 ay dolduğunda servis otomatik durur paylaşım miktarını beklemez. Seçim isteğe bağlıdır.</li>
<br>
<br>
<p></p>         
</center></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq2" aria-expanded="true">Siparişim Neden İptal Edildi? <i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq2" class="collapse">
                    <div class="card-body">
                      <p class="card-text"><p> 
Siparişinizin iptal edilmesinin belirli nedenleri vardır  ;
<br>
<br></p><li> Profiliniz gizli ise siparişiniz iptal edilir lütfen gizlilik kontrolü yapınız.</li>
<li> Bazı servislerde sizden link yerine sadece kullanıcı adı girmeniz istenir bu hususa dikkat ediniz.</li>
<li> Servislerin maksimum gönderim miktarlarını aldığınızda 2.kez sipariş verirseniz siparişiniz iptal edilir.</li>
<li> Siparişlerinizde bu durumlar yoksa ve 24 saat geçmiş ise lütfen destek bölümünden bizlere ulaşınız.</li>
<br><p></p><p></p></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq3" aria-expanded="true">Nasıl Bakiye Yüklerim? <i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq3" class="collapse">
                    <div class="card-body">
                      <p class="card-text"><p> 
</p><p>Sistem üzerinde tek bir bakiye yükleme yöntemi bulunur. Sisteme entegreli olan <strong>PayTR</strong> alt yapısı ile 7/24 otomatik olarak bakiye yükleyebilirsiniz. <strong>PayTR</strong> ile iki farklı seçeneğiniz vardır. Birincisi kredi kartı ile otomatik yükleme yapmak, ikincisi havale yöntemi ile yükleme yapmak. Eğer havale yöntemi ile <strong>PayTR</strong> üzerinden ödeme yapmak isterseniz havale gönderimini <strong>PayTR</strong> hesaplarına gönderdikten sonra havale bildirimi yapmanız gerekir. Bu çok uzun sürmez. <strong>PayTR</strong> yöntemi çok daha hızlı ve kolay bir yöntem olmakta olup bakiye yüklemeleriniz otomatik olarak onaylanır ve hemen alışverişe başlayabilirsiniz. <strong>PayTR</strong> ile yapacağınız ödemeler 3D Secure sistemi ile korunmakta olup şifrelenmektedir kredi kartı ile yapacağınız her işlemde sizlere bankanız tarafından SMS gönderilir ve SMS onayı alınır. Panelimizde  3D Secure Sistemi asla hiçbir kart bilginizi veya kişisel bilginizi barındırmaz, saklı tutamaz. Güvenli bir şekilde ödeme yapabilirsiniz. </p>
               
              <p>Eğer aklınıza takılan herhangi bir soru olursa <a href="/tickets">bize</a> sormaktan çekinmeyin.</p></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq4" aria-expanded="true">API Nedir? <i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq4" class="collapse">
                    <div class="card-body">
                      <p class="card-text">Application Programming Interface olarak bilinen programlar arası haberleşmeyi sağlayan bir ara yüzdür. Sitemizde bulunan API dokümanımız yardımı ile kendi internet sitenize bizim API’mizi bağlayıp satış yapabilirsiniz. Bunun için basit programlama bilgisi sahibi olmanız gerekir. Eğer bir SMM panel sahibiyseniz SMM sağlayıcınız ile iletişime geçerek bizim API’mizi bağlatabilirsiniz. API bağlantıları konusunda teknik destek sağlamamaktayız.</p>
                     
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq5" aria-expanded="true">Takipçilerim Düşüyor Ne Yapmalıyım? <i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq5" class="collapse">
                    <div class="card-body">
                      <p class="card-text">Hesaplarınıza gönderdiğimiz takipçiler tamamen kişisel hesaplardan oluşmaktadır ve gönderilen hesapların takipten çıkma özgürlüğü bulunmaktadır. 
Bir örnek verecek olursak; siz nasıl ki tanımadığınız kişileri takip etmek istemezsiniz bu durumda aynıdır takip edenler sizleri tanımadığı için takibi geri çekmektedir. 

Bot takipçilerde ise durum tamamen farklıdır in-aktif hesap oldukları için instagram bir süre sonra bu hesapların farkına varıyor ve hesapları instagram bünyesinden kaldırıyor yada onaya düşürüyor buda sizlere düşüş olarak yansımaktadır. 
Panelimiz alınan bot takipçilerin hiç birinde garanti vermemekte ve bu durumu sözleşmede açıkca belirtmiştir.</p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFaq6" aria-expanded="true">Siparişim kısmen tamamlanıp kalanı iade edildi ne yapmalıyım? <i class="arrow fa fa-angle-up"></i><i class="arrow fa fa-angle-down"></i></button>
                  </div>
                  <div id="collapseFaq6" class="collapse">
                    <div class="card-body">
                      <p class="card-text">Bir kısmı tamamlanan siparişlerinizin tamamlanmayan kısmı otomatik olarak iade edilir. Bu durumda tekrar sipariş geçmenizi öneririz. Sistemsel yada sağlayıcılar tarafından spam filtrelemesi olduğunda eksik gönderim olabilir bu hususta diğer gün tekrar deneyebilirsiniz yada farklı servisler tercih edebilirsiniz. Genel de eksik tamamlanmasının sebebi sunucunun o an almış olduğunuz miktar kadar gönderim yapamamasından kaynaklıdır ve bazı servisleirmiz sürekli eksik gönderim yapar bu maliyete bağlı değişkenlik göstermektedir genelde pahalı servisler daha iyi ve sağlam olmaktadır bu durumda pahalı sunuculara yönelmenizi önermekteyiz.</p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% include 'footer.twig' %}
