{% include 'header.twig' %}


  
 
   <div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_112">
	<div class="block-signin ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="block-signin__content">
						<div class="block-signin__title style-text-signin"><h1 class="text-center"><span style="text-align: CENTER"><span style="color: #ffffff">Best SMM service reseller panel with cheap services</span></span></h1></div>
						<div class="block-signin__description style-text-signin"><p class="text-center"><span style="color: #ffffff"><span style="text-align: CENTER">The ultimate source of different SMM services to meet your needs.</span></span></p></div>
					</div>
				</div>
			</div>
			<div class="row block-signin__aligment">
				<div class="col-lg-8">
					<div class="block-signin__card component_card">
						<div class="card">
						{% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}
							
														<form method="post" action="/" class="component_form_group component_checkbox_remember_me">
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group ">
											<label>Username</label>
											<input class="form-control" type="text" name="username"/>
										</div>
									</div>
									<div class="custom-col">
										<div class="form-group ">
											<label>Password</label>
											<input class="form-control" type="password" name="password"/>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group ">
											<div class="form-group__checkbox">
												<label class="form-group__checkbox-label">
													<input type="checkbox" name="remember" id="block_112_remember_me">
													<span class="checkmark"></span>
												</label>
												<label class="form-group__label-title" for="block_112_remember_me">Remember me</label>
											</div>
										</div>
									</div>
									<div class="custom-col">
										<div class="form-group ">
																							<div class="sign-in__forgot">
													<a href="/resetpassword">Forgot password?</a>
												</div>
																					</div>
									</div>
								</div>
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group d-flex component_button_submit ">
											<button class="btn btn-primary" type="submit">Sign in</button>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="custom-col">
										<div class="form-group d-flex justify-content-center ">
											<div class="block-signin__remember">
												<p>Already have an account?</p>
												<a class="block-signin__link" href="/signup">Sign up</a>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="_csrf" value="sJkzKc1vV4Ww-04OzLQMq_4_n2ybSKs2hF599Ir-5hzcoGFrvQA8qIOVOG2W5WPGk1fsI-kP43fCKRiA57CeMQ==">
															</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="block_106">
	<div class="header-with-text ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block__title style-header-text">
						<h2 class="text-center">Why you should pick our panel</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-block__description style-header-text">
						<p class="text-center">Using our panel is the best way to gain popularity online and why.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_80">
	<div class="block-features ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 block-features__cards">
					<div class="row">
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-medal" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #14ddd7;
                                                text-shadow: 0 8px 16px rgba(20, 221, 215, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Outstanding services</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>We offer the best SMM services for our customers.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-tasks" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #1a87ff;
                                                text-shadow: 0 8px 16px rgba(26, 135, 255, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Many payment methods</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>We offer various options to add funds to your account.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-chart-line-down" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #ffc157;
                                                text-shadow: 0 8px 16px rgba(255, 193, 87, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Extremely cheap</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>All SMM services you can find on our panel are super affordable.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
													<div class="col-md-6 style-features-card">
                                <div class="card features-card" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                    <div class="block-features__card">
                                        <div class="block-features__card-icon" style="margin-bottom: 10px;
                                                 height: 80px;                                                  width: 80px;                                                                                                                                                                                                                                                                                                                                                 ">
                                            <span class="feature-block__icon style-text-primary fas fa-shipping-fast" style="
                                                font-size: 24px;
                                                width: 24px;
                                                height: 24px;
                                                transform: rotate(0deg);
                                                color: #ff4587;
                                                text-shadow: 0 8px 16px rgba(255, 69, 135, 0.32);
                                                border-radius: 0px;
                                                background: transparent;
                                                padding: 0px;
                                                "></span>
                                        </div>
                                        <div class="block-features__card-content">
                                                                                            <div class="card-content__head style-text-features-title" style="margin-bottom: 10px; padding-left: 0px; padding-right: 0px;">
                                                    <p><strong style="font-weight: bold">Short delivery time</strong></p>
                                                </div>
                                                                                                                                        <div class="card-content__desc style-text-features-desc" style="padding-left: 0px; padding-right: 0px;">
                                                    <p>Orders that customers place on our panel are processed quickly.</p>
                                                </div>
                                                                                    </div>
                                    </div>
                                </div>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_101">
	<div class="header-with-text ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block__title style-header-text">
						<h2 class="text-center"><span style="text-align: CENTER">How our panel works</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-block__description style-header-text">
						<p class="text-center"><span style="text-align: CENTER">Want to start placing orders on our panel? Follow these 4 easy steps.</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_107">
	<div class="how-it-works ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="row">
						<div class="col-lg-12">
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-end">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																																																														                          						">
													<span class="card__icon-fa far fa-sign-in-alt" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #14ddd7;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														1
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Create an account</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0x;"><p>To start with, you need to create an account and log in.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-start">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																																																														                          						">
													<span class="card__icon-fa far fa-money-bill-wave-alt" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #1a87ff;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														2
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Make a deposit</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0x;"><p>Add funds via a payment method you find the most convenient.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-end">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																							 border-top-left-radius: 0px; 													 border-bottom-left-radius: 0px; 													 border-top-right-radius: 0px; 													 border-bottom-right-radius: 0px;                           						">
													<span class="card__icon-fa far fa-dollar-sign" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #ffc157;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														3
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Pick services</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0x;"><p>Choose the SMM services you want and easily place your orders.</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
															<div class="how-it-works__card">
									<div class="card" style="
																																																																																																																																																																																">
										<div class="how-it-works__card-wrap">
											<div class="card__icon" style="justify-content: flex-start">
											  	<span class="card__icon-wrap" style="
												  	 height: 80px;                                                 	 width: 80px; 																																																																														                          						">
													<span class="card__icon-fa far fa-user-check" style="
														font-size: 56px;
														width: 56px;
														height: 56px;
														transform: rotate(0deg);
														color: #ff4587;
														text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
														border-radius: 0px;
														background: transparent;
														padding: 0px;
													"></span>
												</span>
											</div>
											<div class="card__number-wrap">
												<div class="card__number">
													<div class="number__count style-card-number" style="
															 width: 80px; 															 height: 80px; 																																																																																																																																																																																																			 font-size: 24px; 															">
														4
													</div>
												</div>
											</div>
											<div class="card__content">
												<div class="content__title style-how-it-card-title" style="margin-bottom: 8px; padding-top: 0px; padding-left: 0px; padding-right: 0px;"><p><strong style="font-weight: bold">Incredible results</strong></p></div>
												<div class="content__desc style-how-it-card-desc" style="padding-left: 0px; padding-right: 0px;"><p>When your order is ready, we'l inform you. It won't take long. Enjoy!</p></div>
											</div>
										</div>
									</div>
									<div class="how-it-works__card-line style-card-number-line" style=""></div>
								</div>
													</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_86">
	<div class="reviews-block ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="reviews-block__title style-review-card-title"><h2>Reviews</h2></div>
					<div class="reviews-block__desc style-review-card-desc"><p>Check out our customers' reviews and learn more about our panel.</p></div>
				</div>
				<div class="col-lg-8">
					<div class="row">
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>You guys, I'm so happy I discovered this SMM panel! It was such a struggle to help my business get noticed online even though I tried SO hard. But with SMM services I purchase here I dont have to worry about that anymore, it's amazing!</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><span><strong style="font-weight: bold">Mike Wong</strong></span></p>
                                        </div>
                                    </div>
                                </div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>I can only speak from my experience but let me tell you this: you can't go wrong with this SMM panel. Great services that are so cheap!</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><span><strong style="font-weight: bold">David Romero</strong></span></p>
                                        </div>
                                    </div>
                                </div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>This SMM panel is no joke when it comes to boosting the engagement on your social media accounts! It can be done so quickly and effectively without spend lots of money. In fact, services here are super cheap, which is fantastic!</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><span><strong style="font-weight: bold">Nicole Withers</strong></span></p>
                                        </div>
                                    </div>
                                </div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
                                <div class="block-reviews__card">
                                    <div class="card card__reviews" style="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                                        <div class="item__desc style-review-card-desc" style="padding-left: 0px; padding-right: 0px; margin-bottom: 16px;">
                                            <p>I can only speak from my experience but let me tell you this: you cant go wrong with this SMM panel. Great services that are so cheap!</p>
                                        </div>
                                        <div class="item__author style-review-card-author" style="padding-left: 0px; padding-right: 0px;">
                                            <p><span><strong style="font-weight: bold">Colin Brooks</strong></span></p>
                                        </div>
                                    </div>
                                </div>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_93">
	<div class="header-with-text ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block__title style-header-text">
						<h2 class="text-center"><span style="text-align: CENTER">Popular questions on our panel</span></h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="text-block__description style-header-text">
						<p class="text-center"><span style="text-align: CENTER">Below you can get answers to some of the most popular questions on our panel.</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="block_105">
	<div class="faq ">
		<div class="bg"></div>
		<div class="divider-top"></div>
		<div class="divider-bottom"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="row">
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-105-1" aria-expanded="false" aria-controls="#faq-block-105-1" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What are SMM panels?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-105-1">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>An SMM panel is an online store that sells various SMM services.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-105-2" aria-expanded="false" aria-controls="#faq-block-105-2" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What types of SMM services do you offer here?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-105-2">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>We provide different types of SMM services: views, followers, likes and more.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-105-3" aria-expanded="false" aria-controls="#faq-block-105-3" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">Is it safe to use SMM services sold here?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-105-3">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>Yes, using our SMM services is definitely safe. It wont get your social media accounts banned.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-105-4" aria-expanded="false" aria-controls="#faq-block-105-4" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What is the purpose of mass orders?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-105-4">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>Mass orders are very helpful when you need to place a lot of orders and want to save time. This feature allows to place multiple orders with different links at once.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-105-5" aria-expanded="false" aria-controls="#faq-block-105-5" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What is the Drip-feed feature?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-105-5">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>You can decide how fast you want to build the engagement on your social media accounts. If you want to have, let's say, 1000 likes on your post, you can either get all 1000 right away or make the process more gradual  100 likes per day for 10 days, for example.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
													<div class="col-lg-6 col-md-6 co-sm-12">
								<div class="block-faq__card" style="
																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                    																																																		                                ">
									<span class="style-collapsed-background" style="">
										<div class="card card__faq collapsed" data-toggle="collapse" data-target="#faq-block-105-6" aria-expanded="false" aria-controls="#faq-block-105-6" style="
																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            																																																												                                            ">
											<div class="block-faq__card-content">
												<div class="card-content__head">
													<div class="head__title style-faq-card-title">
														<p><strong style="font-weight: bold">What is the mass order feature for?</strong></p>
													</div>
													<div class="head__icon style-collapsed-icon" style="">
														<div class="faq-block__icon style-collapse-icon fas" style="
																																																																											                                                            font-size: 24px; 																																																																											                                                            "></div>
													</div>
												</div>
											</div>
										</div>

										<div class="card card__faq-desc" style="
																																																																								                                                    padding-top: 8px;
																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    																																																																								                                                    ">
											<div class="card-content__desc collapse" id="faq-block-105-6">
												<div class="desc__body style-faq-card-desc" style="padding-left: 0px; padding-right: 0px;">
													<p>You can choose the mass order option to save time when you have several separate orders with different links.</p>
												</div>
											</div>
										</div>
									</span>
								</div>
							</div>
											</div>
				</div>
			</div>
		</div>
	</div>
</div>
  



{% include 'footer.twig' %}
