{% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  {{ footerCode }}

<!-- Footer Start -->
     <div class="col-12">
      <div class="footer-copy">
        <div class="row">
          <div class="col-12">
              <center style="color:white;"><b><i class="fa fa-cog"></i> Tüm genel sorun için detay : </b> <a style="color:white;" href="mailto:destek@turkpanelim.com">E-Posta</a> | <a style="color:white;" href="tel://+905358684247">Telefon</a> </center>
            <p>{{ settings['site_name']  }} © Copyright 2019 Tüm Hakları Saklıdır</p>
          </div><!-- col -->
        </div> <!-- row -->
      </div> <!-- footer-copy -->

    </div> <!-- container -->
  </section>
</footer>
<style>

  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>
  
  </style>
<!-- / -->
<!-- jQuery -->
<script src="/public/business/dis/jquery-3.2.1.min.js"></script>
<script src="/public/business/dis/jquery-migrate-3.0.0.min.js"></script>

<!-- Plugins -->
<script src="/public/business/dis/popper.min.js"></script>
<script src="/public/business/dis/bootstrap.min.js"></script>
<script src="/public/business/dis/owl.carousel.min.js"></script>
<script src="/public/business/dis/jquery.magnific-popup.min.js"></script>
<script src="/public/business/dis/particles.min.js"></script>
<script src="/public/business/dis/particles-app.js"></script>
<script src="/public/business/dis/vanillatoasts.css"></script>
<script src="/public/business/dis/vanillatoasts.js"></script>

<!-- custom -->
<script src="/public/business/dis/custom.js"></script>
<!-- custom -->
<script src="/assets/dis/yeni/js/custom.js"></script>

