
  {% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  {{ footerCode }}
<center><a href="https://begeni.biz.tr" title="şifresiz beğeni">Agrzm Media</a></center>

  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>

</body>
</html>
