{% include 'header.twig' %}
<div id="page-wrapper">
<div class="container">

  <div class="inner-dashboard"> 
   <div class="row">
      <div class="col-xs-12">
         <div class="well api well-float">
            <div class="center-big-content-block">

               <h2 class="m-b-md">API Docs</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                HTTP Method
                <b>POST</b>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                API URL
                <span class="badge" style="background-color: #2b9e24;">{{ site["url"] }}/api/v2</span>
              </li>
              {% if user['auth'] %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                API Key
                <span class="badge badge-primary" style="background-color: #c3cf45;">{{ user["apikey"] }}</span>
              </li>
              {% endif %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Response format
                <span>JSON</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Example Code
                <a href="/example.txt" class="btn btn-primary" target="_blank"><i class="material-icons">cloud_download</i> Example of PHP code</a>
              </li>
            </ul>
               

                        <h4 class="m-t-md"><strong>Service list</strong></h4>
                      <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="width-40">Parameters</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                            <tr>
                <td>key</td>
                <td>Your API key</td>
              </tr>
                            <tr>
                <td>action</td>
                <td>services</td>
              </tr>
                          </tbody>
          </table>
          
          <p><strong>Example response</strong></p>
          <pre>
[
    {
        "service": 1,
        "name": "Followers",
        "type": "Default",
        "category": "First Category",
        "rate": "0.90",
        "min": "50",
        "max": "10000"
    },
    {
        "service": 2,
        "name": "Comments",
        "type": "Custom Comments",
        "category": "Second Category",
        "rate": "8",
        "min": "10",
        "max": "1500"
    }
]
</pre>
                      <h4 class="m-t-md"><strong>Add order</strong></h4>
                                    <p>
              <form class="form-inline">
                <div class="form-group">
                  <select class="form-control input-sm" id="service_type">
                                        <option value="0">Default</option>
                                        <option value="10">Package</option>
                                        <option value="1">SEO</option>
                                        <option value="2">Custom Comments</option>
                                        <option value="4">Mentions Custom List</option>
                                        <option value="7">Mentions User Followers</option>
                                        <option value="14">Custom Comments Package</option>
                                        <option value="15">Comment Likes</option>
                                        <option value="17">Poll</option>
                                        <option value="100">Subscriptions</option>
                                      </select>
                </div>
            </form>
          </p>
                              <div id="type_0" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>quantity</td>
                  <td>Needed quantity</td>
                </tr>
                                <tr>
                  <td>runs (optional)</td>
                  <td>Runs to deliver</td>
                </tr>
                                <tr>
                  <td>interval (optional)</td>
                  <td>Interval in minutes</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_10" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_1" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>quantity</td>
                  <td>Needed quantity</td>
                </tr>
                                <tr>
                  <td>keywords</td>
                  <td>Keywords list separated by \r\n or \n</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_2" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>comments</td>
                  <td>Comments list separated by \r\n or \n</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_4" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>usernames</td>
                  <td>Usernames list separated by \r\n or \n</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_7" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>quantity</td>
                  <td>Needed quantity</td>
                </tr>
                                <tr>
                  <td>username</td>
                  <td>URL to scrape followers from</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_100" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>username</td>
                  <td>Username</td>
                </tr>
                                <tr>
                  <td>min</td>
                  <td>Quantity min</td>
                </tr>
                                <tr>
                  <td>max</td>
                  <td>Quantity max</td>
                </tr>
                                <tr>
                  <td>posts</td>
                  <td>New posts count</td>
                </tr>
                                <tr>
                  <td>delay</td>
                  <td>Delay in minutes. Possible values: 0, 5, 10, 15, 30, 60, 90</td>
                </tr>
                                <tr>
                  <td>expiry (optional)</td>
                  <td>Expiry date. Format d/m/Y</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_14" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>comments</td>
                  <td>Comments list separated by \r\n or \n</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_15" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>quantity</td>
                  <td>Needed quantity</td>
                </tr>
                                <tr>
                  <td>username</td>
                  <td>Username of the comment owner</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    <div id="type_17" style="display:none;">
            <table class="table  table-hover table-sm">
              <thead class="thead-dark">
                <tr>
                  <th class="width-40">Parameters</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                                <tr>
                  <td>key</td>
                  <td>Your API key</td>
                </tr>
                                <tr>
                  <td>action</td>
                  <td>add</td>
                </tr>
                                <tr>
                  <td>service</td>
                  <td>Service ID</td>
                </tr>
                                <tr>
                  <td>link</td>
                  <td>Link to page</td>
                </tr>
                                <tr>
                  <td>quantity</td>
                  <td>Needed quantity</td>
                </tr>
                                <tr>
                  <td>answer_number</td>
                  <td>Answer number of the poll</td>
                </tr>
                              </tbody>
            </table>
          </div>
                    
          <p><strong>Example response</strong></p>
          <pre>
{
    "order": 23501
}
</pre>
                      <h4 class="m-t-md"><strong>Order status</strong></h4>
                      <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="width-40">Parameters</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                            <tr>
                <td>key</td>
                <td>Your API key</td>
              </tr>
                            <tr>
                <td>action</td>
                <td>status</td>
              </tr>
                            <tr>
                <td>order</td>
                <td>Order ID</td>
              </tr>
                          </tbody>
          </table>
          
          <p><strong>Example response</strong></p>
          <pre>
{
    "charge": "0.27819",
    "start_count": "3572",
    "status": "Partial",
    "remains": "157",
    "currency": "USD"
}
</pre>
                      <h4 class="m-t-md"><strong>Multiple orders status</strong></h4>
                      <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="width-40">Parameters</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                            <tr>
                <td>key</td>
                <td>Your API key</td>
              </tr>
                            <tr>
                <td>action</td>
                <td>status</td>
              </tr>
                            <tr>
                <td>orders</td>
                <td>Order IDs separated by comma</td>
              </tr>
                          </tbody>
          </table>
          
          <p><strong>Example response</strong></p>
          <pre>
{
    "1": {
        "charge": "0.27819",
        "start_count": "3572",
        "status": "Partial",
        "remains": "157",
        "currency": "USD"
    },
    "10": {
        "error": "Incorrect order ID"
    },
    "100": {
        "charge": "1.44219",
        "start_count": "234",
        "status": "In progress",
        "remains": "10",
        "currency": "USD"
    }
}
</pre>
                      <h4 class="m-t-md"><strong>Create refill</strong></h4>
                      <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="width-40">Parameters</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                            <tr>
                <td>key</td>
                <td>Your API key</td>
              </tr>
                            <tr>
                <td>action</td>
                <td>refill</td>
              </tr>
                            <tr>
                <td>order</td>
                <td>Order ID</td>
              </tr>
                          </tbody>
          </table>
          
          <p><strong>Example response</strong></p>
          <pre>
{
    "refill": "1"
}
</pre>
                      <h4 class="m-t-md"><strong>Get refill status</strong></h4>
                      <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="width-40">Parameters</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                            <tr>
                <td>key</td>
                <td>Your API key</td>
              </tr>
                            <tr>
                <td>action</td>
                <td>refill_status</td>
              </tr>
                            <tr>
                <td>refill</td>
                <td>Refill ID</td>
              </tr>
                          </tbody>
          </table>
          
          <p><strong>Example response</strong></p>
          <pre>
{
    "status": "Completed"
}
</pre>
                      <h4 class="m-t-md"><strong>User balance</strong></h4>
                      <table class="table table-hover table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="width-40">Parameters</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                            <tr>
                <td>key</td>
                <td>Your API key</td>
              </tr>
                            <tr>
                <td>action</td>
                <td>balance</td>
              </tr>
                          </tbody>
          </table>
          
          <p><strong>Example response</strong></p>
          <pre>
{
    "balance": "100.84292",
    "currency": "USD"
}
</pre>
               {#<a href="example.txt" class="btn btn-default m-t" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sample PHP file</font></font></a>#}
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
</div>
{% include 'footer.twig' %}
