{% include 'header.twig' %}


<div id="page-wrapper">
  <div class="container">
    <div class="inner-dashboard faqPage">
    <div class="row">
      <div class="col-sm-12">
        <div class="well ">
          <h3 class="faqTitle" style="margin-bottom:40px;text-align:center;">
          	FAQS <br>GENERAL QUESTONS  And Social Media QUESTONS
          </h3>
          <div class="row">
  <div class="col-sm-12">
    <h4 class="subHead" style="margin: 0 0 30px 20px;font-weight: 700;">GENERAL QUESTIONS:</h4>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Edit your "Account settings"<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">
        Press the "Account settings"  near your Username on the panel
You can change your account password, API Credentials, 
If you think your private keys got compromised, 
please just click "Generate New" them for your security. 
We highly recommend keeping your details safe and personal.
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>What services cannot be ordered with a mass order!<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">1.DripFeed doesn't work with "Mass Order".
 2. All Packages  doesn't work with "Mass Order"
 3. Auto Likes &amp; Views doesn't work with "Mass Order"
 4. Custom comments don't work with "Mass Order"</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>If I ordered the wrong link \ service, can I get a cancellation<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Cancellation is not guaranteed. 
We will forward the request to our provider and hopefully, he will acknowledge the request. 
If they do not accept, we won't be able to cancel it.</div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>What service plays/views can be monetized?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">
        The one that has "Monetized" in its service name or description.
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>I want a Panel like yours / I want to resell your services<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Contact us and our support will get full information and prices</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>How to place a new order?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Press New Order
In the field  Category - Select the type of platform need
In the field Service  — Select the type of services from the drop-down list. 
In the field Link — Fill the link to the page in the format. 
In the field Quantity — Fill the needed quantity of likes/followers</div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Can I get a Discount?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">
        5-10%  For users who deposited one time 1000$+   on all service list
5-10%  For users who buy "Child panel" on all service list
5%        For users who deposited one time 500$+ on 10 custom services
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>How do I get my deposit bonus?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">This is our Bonus Payment System for the First Deposit: 
                                         All Payment SystemsAvailable!
- From $30 to $100   -  5%                
- From $100 to $400   -  6%           
- From $400 to $1000 -  8%                       
- From $1000 and more  -    Custom (restricted list of systems! Contact our Support)
                                     Everyday Bonus Payment System:
Perfect Money
- From $100 to $299  - 2%
- From $300 to $499  - 3%
- From $500 -  4%
Coinbase Commerce
- From $100 to $299  - 2%
- From $300 to $499  - 3%
- From $500 -  4%
Unitpay
- From $100 to $499  - 3%
- From $500   - 4%</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>When can you activate my Paypal?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">You can use Paypal whenever you want by following the instructions in the Add Funds page (manual use) To have it automatically enabled, you have to have added at least 200$ in your account, and then you can send us a ticket with your email to enable it for you!
Every time when you want to make a deposit you need to ask first the actual address!!!</div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>What is the start time &amp; speed after placing an order?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Every service is different.
Whenever you select a service from the drop-down menu, 
you will find a box with all the information needed for that particular service, start time, minimum/maximum amounts, 
as well as the average daily speed.</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Can I cancel an order if the speed mentioned in the service description was not accurate?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Delays can sometimes occur, this is mainly caused by recent updates in a certain Social Media website’s algorithm or a system overload, 
on the rare occasion that this can happen we will only be able to refund the missing amount from the order within 120 hours of opening the ticket if the issue was not solved.</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Can I use your services while using outside sources or running ad campaigns?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Ad campaigns do not affect our delivery times or process;
however, we rely strictly on the start counts and current counts seen by our system and do not count any exterior enhancements, 
whether it is from ad campaigns or outside sources.</div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>What is the refill?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Some social media platforms perform updates every few weeks or months to remove inactive accounts, this might cause some numbers to drop,
all you need to do if that happens is open up a ticket with your Order ID and we will refill if free of charge if it falls during the refill period.
</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>When am I not eligible for refills?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Some clients place orders with us after using previous providers, 
for example, they place an order of 1,000 followers for an account with tens or hundreds of thousands of followers, 
such accounts are bound to drop at some point due to the large numbers of previously bought followers, as such, we cannot offer refills for accounts that exceed 100,000 fans.</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Are my followers/likes/views guaranteed not to drop?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">The bulk of our services have a refill guarantee, meaning that we would replenish your account free of charge if you face a drop within the refill period.</div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>API, what is this and How it works?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">{{ site["site_name"] }} API ( application programming interface) is used to automatically place orders through your {{ site["site_name"] }} account just by calling a simple URL on our server. 
This is the most effective method when you have a lot of orders you won't waste time all day by adding and controlling your orders manually!
By integrating API into your website you will be able to automatically add orders and consult order status in any software or application ( PHP, java, c, mobile app ) just be using an HTTP client.
This method uses a unique Private Key Authentication share between the server and the customer only. This key passed as a parameter in any calls you perform to identify your account.
If for any reason your Private Key is compromised you should contact us immediately or just visit your Account Settings and Reset your keys.
You can find the instructions on how to use the API 
You can find your API KEY on Account Settings https://prnt.sc/qq057r
If you are using API it's your sole responsibility any orders made through your API key, we will not refund any mistake you/your code made.
You should have enough balance to perform orders or we will reply with a FAIL error.
We have the right to refuse/disable any API Key if we detect unusual activity, including bugged calls spamming our server or any 3rd party errors without previously tell you/your representative.
We require sometimes your Server IP in order to Authorize your Machine to Add orders Automatically
YOU SHOULD NEVER share your {{ site["site_name"] }} API Key!</div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-12">
    <h4 class="subHead" style="margin: 0 0 30px 20px;font-weight: 700;">Social Media QUESTIONS:</h4>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Correct Links inputs for Services<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">
        All Purchases you submit are final, and after the order is added we cannot cancel or stop it! The Followers/Likes or any other kind of actions made cannot be reversed.<br>
Instagram:
[ Instagram Followers ]
URL Example: http://instagram.com/USERNAME
Where USERNAME is your Instagram Username, the Profile MUST NOT BE PRIVATE! Order the order will not be fulfilled<br>

[ Instagram Likes ]
URL Example: http://instagram.com/p/dXd41d
You can find your picture link by navigating to your Instagram Profile click over the picture and copy the URL
The user MUST NOT BE PRIVATE!
Vine:<br>

Twitter:
[ Twitter Followers ]
URL Example: http://twitter.com/USERNAME
Where USERNAME is your Twitter Username
The Twitter Profile must be Public
[ Twitter Retweets &amp; Favorites ]
URL Example: http://twitter.com/status/12313131
The Twitter Profile must be Public<br>
Youtube:
[ Youtube Views, Likes]
URL Example: https://www.youtube.com/watch?v=lzwkXSADpqE
[ Youtube Subscribers]
URL Example: http://www.youtube.com/user/username<br>
Facebook:
[ Page Likes ]
URL Example: http://www.facebook.com/YOURPAGE

[ Post or Photo Likes ]<br>

URL Example: https://www.facebook.com/someprofile/photos/a.209520.51263.2095202/5525904/
URL Example: https://www.facebook.com/video.php?v=1546730518892238
URL Example: https://www.facebook.com/someprofile/posts/864315723564256<br>

( Click the Date "November 14" to go for the post page then copy the URL link )<br> 
 

[ Page Followers / Subscribers ]<br>

URL Example: http://www.facebook.com/YOURPAGE
The page or the post/photo must be shared with the public and not to friends only!<br>
Soundcloud:
[ Track Plays &amp; Downloads ]
URL Example: https://soundcloud.com/username/d-67d4-992b-c46097e1b4c4
The Soundcloud Profile must be public and able to receive views<br>
Pinterest :
[ Followers ]
URL Example: https://www.pinterest.com/yourusername
[ Likes or Repins ]
URL Example: http://www.pinterest.com/pin/165296248793613004/
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Instagram  AUTO Likes<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">You can find the Instagram Likes Spread on Social Market -&gt; Instagram Likes Spread
This is basically a script that checks for the 10 latest pictures for a public Instagram user and automatically adds orders of likes for each recent picture
This service is free of extra-costs, the only item you pay is the number of likes you order or define to order
Instagram Likes will be used to give Likes to the Pictures
You must configure how much likes do you want for each picture.
You should configure how much pictures we should get ( maximum 10 latest )
If the user turns itself on Private Mode we cannot deliver the service</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>My monthly AUTO Likes subscription has stopped, what could be the reason?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">Our tracker checks your account every minute; 
however, if you change your account username or switch it to private, 
we would no longer be able to detect your new posts and the service is automatically paused until you provide us with the new username.</div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Who are monthly listeners?<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">
        Monthly listeners are unique listeners who play your music during a 28-day period. This stat updates every day, and appears on both your artist profile on Spotify and right above the timeline graph in the Audience section of Spotify for Artists.
important things to clarify about your monthly listeners:
They’ve listened within a rolling window of 28 days. We use a rolling window of 28 days because the number of days in a calendar month can vary and because people listen to music differently depending on the day of the week.
This means an equal number of days of the week are included—so, the same number of Mondays, Tuesdays, Wednesdays, etc.
They are unique listeners. If someone plays your music multiple times in a 28-day period, they only get counted once.
Tracking trends using your monthly listener's timeline can give you a good idea of how your music is performing over longer periods of time, and can also help you understand overall engagement and listening behavior after a new release.
For more immediate changes with a higher level of detail, keep an eye on your number of daily listeners.
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <h4 class="subHead" style="margin: 0 0 30px 20px;font-weight: 700;">Terms</h4>
  </div>
</div>



<div class="row">
  <div class="col-sm-4">
    <div class="faq-wrap">
      <div class="faq-head">
        <div class="faq-icon">
          <div class="faq-inner-icon"></div>
        </div>
        <h4>Buyer and Reseller, please attention :<div class="faq-ans">A</div></h4>
      </div>
      <div class="faq-content">
        Please do not use more than one services at the same time for the same page ( on this site or others site ) and if you want to use more with the same link, Please wait for the first order to Completed /cancel/Partial before placing the next ( Or another way: Do not enter the same order twice before the first one gets completed/cancel/Partial, no cancellation will be made and both orders will be marked "Complete"! ). We can't give you correct followers/likes/Views... number in that case. We will not refund these orders. Please keep attention! In case your Order has dropped, please wait for us to refill or cancel or Partial before order a new one. We will not cancel in this case. Please keep attention!<br>

    The system will look at start count when you put order and mark completed after enough quantity. So, Don't ask us to cancel or anything with reason:" views/Likes/subs... come from my real user, my fans ...<br>

    After sending orders, if you delete your page/account or change it to private or change username or the account is closed , We will not refund for this cases.<br>

    If you order on our panel for a account, please don't order any other panel for that same account.There no refund or no excuse will be accepted. If your page had ...10K ...100k or 200k... Followers/Likes/Views ... before order me or you are face any drop problem , then we can't refill<br>

    If you use server Drop , No refill before and after completed you come to use server Non drop or 30 days refill . Then I can't refill .<br>

    We will accept cancel order , if system is error . Some order " pending " if I have option to cancel , then I will if you ask .We Can't cancel after placing order if we haven't option on it.
      </div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well ">
        {{ contentText }}
      </div>
    </div>
  </div>
</div>

{% include 'footer.twig' %}
