</div></div>
<meta name="yandex-verification" content="1858b0aeea2b25da" />
{% for script in scriptList %}
  <script type="text/javascript" src="{{ script }}"></script>
  {% endfor %}

  {{ footerCode }}

</div></div>
<div class="footer-wrap" style="">
  <div class="container">
    <div class="row">
          
      <div class=" col-sm-6">
        <h3>Hakkımızda</h3>

        <p>İnternette Öne Çıkmanız İçin, Sizlere 7/24 Kesintisiz Hizmet Vermekteyiz. Sosyal Medya Yönetimi ve Facebook, Twitter, Instagram, Youtube Başta Olmak Üzere Birçok Platform İçin; Takipçi, Abone, Beğeni, İzlenme, Etkileşim Hizmetleri Sunmaktayız.</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>İçerik</h3>
        <ul class="footer-links">
          <li><a href="/tickets"><i class="fa fa-support"></i> Destek Talebi</a></li>
          <li><a href="orders"><i class="fa fa-credit-card"></i> Siparişler</a></li>
          <li><a href="addfunds"><i class="fa fa-money"></i> Bakiye Yükle</a></li>
        
        </ul>
      </div>

      
      

    </div>
    <div class="copyright"><font color="white">©2019 | {{ settings['site_name'] }}® | Bütün Hakları Saklıdır.</font></div>
  </div>
</div>

  <script src="https://www.google.com/recaptcha/api.js?hl=tr"></script>
  


</body>
</html>
